<h1>show sellected articles</h1>

<p>title: <%= @article.title %></p>
<p>
description: <%= @article.description%>
</p>

<%= link_to 'edit this article', edit_article_path(@article) %> |
<%= link_to 'back to articles listing', articles_path %>